ABA_DEFAULT_SPORT=basketball
ABA_LOG_DIR=logs
ABA_DATA_DIR=data
ABA_REPORTS_DIR=reports
ABA_MIN_DATA_COMPLETENESS=0.70
ABA_MIN_SOURCE_COUNT=6
ABA_ALLOW_LIVE_MARKET_DATA=false

# Current supported provider keys:
THE_ODDS_API_KEY=
WEATHERAPI_KEY=

# Reserved future provider keys:
SPORTS_DATA_API_KEY=
MARKET_DATA_API_KEY=
